n8n_workflows/obra_concluida.json
{
  "name": "SIGE — Obra Concluída (Aviso para o cliente + comercial)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sige-obra-concluida",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": { "rawBody": true }
      },
      "id": "webhook-in",
      "name": "Webhook (POST)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "sige-obra-concluida"
    },
    {
      "parameters": {
        "functionCode": "// Validação HMAC-SHA256 (X-Signature) — segredo em $env.N8N_WEBHOOK_SECRET.\nconst crypto = require('crypto');\nconst secret = $env.N8N_WEBHOOK_SECRET || '';\nconst given  = ($input.first().json.headers || {})['x-signature'] || '';\nlet body = $input.first().json.body ? JSON.stringify($input.first().json.body) : '';\ntry {\n  if ($input.first().binary && $input.first().binary.data) {\n    body = Buffer.from($input.first().binary.data, 'base64').toString('utf8');\n  }\n} catch (e) {}\nif (!secret) return [{ json: { ...$input.first().json, _signature_skipped: 'no_secret' } }];\nconst expected = crypto.createHmac('sha256', secret).update(body, 'utf8').digest('hex');\nconst ok = expected.length === given.length && crypto.timingSafeEqual(Buffer.from(expected), Buffer.from(given));\nif (!ok) throw new Error('Assinatura HMAC inválida (X-Signature não confere)');\nreturn [{ json: { ...$input.first().json, _signature_ok: true } }];"
      },
      "id": "validate-hmac",
      "name": "Validar Assinatura HMAC",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "functionCode": "// Normaliza payload do evento `obra.concluida`.\nconst body = $input.first().json.body || $input.first().json;\nconst d = (body && body.data) || {};\nreturn [{\n  json: {\n    obra_id:           d.obra_id           || null,\n    obra_nome:         d.obra_nome         || 'Obra',\n    cliente_nome:      d.cliente_nome      || 'Cliente',\n    cliente_email:     d.cliente_email     || '',\n    data_conclusao:       d.data_conclusao       || '',\n    data_inicio:          d.data_inicio          || '',\n    data_previsao_fim:    d.data_previsao_fim    || '',\n    valor_contrato:       d.valor_contrato       || 0,\n    portal_obra_url:   d.portal_obra_url   || '',\n    admin_id:          body.admin_id       || null\n  }\n}];"
      },
      "id": "extract",
      "name": "Extrair Dados",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": { "string": [ { "value1": "={{ $json[\"cliente_email\"] }}", "operation": "isNotEmpty" } ] }
      },
      "id": "if-has-email",
      "name": "Tem e-mail do cliente?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SIGE_FROM_EMAIL }}",
        "toEmail":   "={{ $json[\"cliente_email\"] }}",
        "subject":   "Obra {{ $json[\"obra_nome\"] }} concluída",
        "text": "Olá {{ $json[\"cliente_nome\"] }},\n\nTemos uma boa notícia: a obra *{{ $json[\"obra_nome\"] }}* foi marcada como CONCLUÍDA em {{ $json[\"data_conclusao\"] }}.\n\nVocê pode revisar o histórico, RDOs e medições no portal:\n{{ $json[\"portal_obra_url\"] }}\n\nMuito obrigado pela parceria — em breve enviaremos o termo de encerramento.\n\n— Equipe SIGE"
      },
      "id": "send-email-cliente",
      "name": "E-mail Cliente",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1140, 200],
      "credentials": { "smtp": { "id": "REPLACE_WITH_YOUR_SMTP_CREDENTIAL_ID", "name": "SMTP do SIGE" } }
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SIGE_FROM_EMAIL }}",
        "toEmail":   "={{ $env.SIGE_COMERCIAL_EMAIL }}",
        "subject":   "[Comercial] Obra {{ $json[\"obra_nome\"] }} concluída — gerar follow-up de encerramento",
        "text": "Obra *{{ $json[\"obra_nome\"] }}* (id {{ $json[\"obra_id\"] }}) — cliente {{ $json[\"cliente_nome\"] }} — concluída em {{ $json[\"data_conclusao\"] }} (início: {{ $json[\"data_inicio\"] }}, previsão original: {{ $json[\"data_previsao_fim\"] }}, valor contrato: R$ {{ $json[\"valor_contrato\"] }}).\n\nLembrar de: termo de encerramento, pesquisa de satisfação, follow-up de novas oportunidades.\n\nPortal: {{ $json[\"portal_obra_url\"] }}"
      },
      "id": "send-email-comercial",
      "name": "E-mail Comercial",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1140, 420],
      "credentials": { "smtp": { "id": "REPLACE_WITH_YOUR_SMTP_CREDENTIAL_ID", "name": "SMTP do SIGE" } }
    }
  ],
  "connections": {
    "Webhook (POST)":          { "main": [[ { "node": "Validar Assinatura HMAC", "type": "main", "index": 0 } ]] },
    "Validar Assinatura HMAC": { "main": [[ { "node": "Extrair Dados", "type": "main", "index": 0 } ]] },
    "Extrair Dados":           { "main": [[
      { "node": "Tem e-mail do cliente?", "type": "main", "index": 0 },
      { "node": "E-mail Comercial",       "type": "main", "index": 0 }
    ]] },
    "Tem e-mail do cliente?":  { "main": [[ { "node": "E-mail Cliente", "type": "main", "index": 0 } ], []] }
  },
  "active": false,
  "settings": {},
  "tags": [ { "name": "sige" }, { "name": "obras" } ],
  "_meta": {
    "description": "Workflow exemplo para o evento `obra.concluida` — envia agradecimento ao cliente e cria follow-up para o comercial.",
    "env_obrigatorias": [ "N8N_WEBHOOK_SECRET", "SIGE_FROM_EMAIL", "SIGE_COMERCIAL_EMAIL" ]
  }
}
