n8n_workflows/proposta_enviada.json
{
  "name": "SIGE — Proposta Enviada (Email + WhatsApp via Evolution API)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sige-proposta-enviada",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {
          "rawBody": true
        }
      },
      "id": "webhook-in",
      "name": "Webhook (POST)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "sige-proposta-enviada"
    },
    {
      "parameters": {
        "functionCode": "// Validação HMAC-SHA256 do header X-Signature.\n// O segredo está em $env.N8N_WEBHOOK_SECRET (configure no n8n).\nconst crypto = require('crypto');\n\nconst secret  = $env.N8N_WEBHOOK_SECRET || '';\nconst given   = ($input.first().json.headers || {})['x-signature'] || '';\n// O 'rawBody' fica em $input.first().binary?.data — usamos o body bruto:\nconst rawBody = $input.first().json.body ? JSON.stringify($input.first().json.body) : '';\n\n// Recalcula com os mesmos separadores que o SIGE usa (separators=(',',':'))\n// — se o n8n estiver configurado com 'rawBody=true' no Webhook node,\n// o corpo bruto vem em $input.first().binary.data (Buffer).\nlet bodyForHmac = rawBody;\ntry {\n  if ($input.first().binary && $input.first().binary.data) {\n    bodyForHmac = Buffer.from($input.first().binary.data, 'base64').toString('utf8');\n  }\n} catch (e) {}\n\nif (!secret) {\n  return [{ json: { ...$input.first().json, _signature_ok: true, _signature_skipped: 'no_secret' } }];\n}\n\nconst expected = crypto.createHmac('sha256', secret).update(bodyForHmac, 'utf8').digest('hex');\nconst ok = expected.length === given.length\n  && crypto.timingSafeEqual(Buffer.from(expected), Buffer.from(given));\n\nif (!ok) {\n  throw new Error('Assinatura HMAC inválida (X-Signature não confere)');\n}\nreturn [{ json: { ...$input.first().json, _signature_ok: true } }];"
      },
      "id": "validate-hmac",
      "name": "Validar Assinatura HMAC",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "functionCode": "// Normaliza o payload — extrai dados do evento `proposta.enviada`.\nconst body = $input.first().json.body || $input.first().json;\nconst d = (body && body.data) || {};\n\nreturn [{\n  json: {\n    cliente_nome:     d.cliente_nome     || 'Cliente',\n    cliente_email:    d.cliente_email    || '',\n    cliente_telefone: d.cliente_telefone || '',\n    proposta_numero:  d.proposta_numero  || d.numero || '',\n    proposta_versao:  d.proposta_versao  || d.versao || 1,\n    valor_total:      d.valor_total      || 0,\n    validade_dias:    d.validade_dias    || 7,\n    portal_url:       d.portal_url       || '',\n    admin_id:         body.admin_id      || null,\n    occurred_at:      body.occurred_at   || null\n  }\n}];"
      },
      "id": "extract",
      "name": "Extrair Dados",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"cliente_email\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "if-has-email",
      "name": "Tem e-mail?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"cliente_telefone\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "if-has-phone",
      "name": "Tem WhatsApp?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 420]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SIGE_FROM_EMAIL }}",
        "toEmail":   "={{ $json[\"cliente_email\"] }}",
        "subject":   "Sua proposta {{ $json[\"proposta_numero\"] }} v{{ $json[\"proposta_versao\"] }} está pronta",
        "text": "Olá {{ $json[\"cliente_nome\"] }},\n\nSua proposta comercial nº {{ $json[\"proposta_numero\"] }} (versão {{ $json[\"proposta_versao\"] }}) já está disponível.\n\n• Valor total: R$ {{ $json[\"valor_total\"] }}\n• Validade: {{ $json[\"validade_dias\"] }} dias\n• Portal do cliente: {{ $json[\"portal_url\"] }}\n\nQualquer dúvida, é só responder este e-mail.\n\nObrigado pela confiança."
      },
      "id": "send-email",
      "name": "Enviar E-mail (SMTP/SendGrid)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1140, 200],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_YOUR_SMTP_CREDENTIAL_ID",
          "name": "SMTP do SIGE"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $env.EVOLUTION_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",       "value": "={{ $env.EVOLUTION_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json[\"cliente_telefone\"] }}\",\n  \"text\":   \"Olá *{{ $json[\\\"cliente_nome\\\"] }}*!\\n\\nSua proposta nº *{{ $json[\\\"proposta_numero\\\"] }}* (v{{ $json[\\\"proposta_versao\\\"] }}) já está disponível.\\n\\n• Valor: R$ {{ $json[\\\"valor_total\\\"] }}\\n• Validade: {{ $json[\\\"validade_dias\\\"] }} dias\\n\\n👉 Acesse: {{ $json[\\\"portal_url\\\"] }}\\n\\nQualquer dúvida, é só responder por aqui.\"\n}"
      },
      "id": "send-whatsapp",
      "name": "Enviar WhatsApp (Evolution API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1140, 420]
    }
  ],
  "connections": {
    "Webhook (POST)": {
      "main": [[ { "node": "Validar Assinatura HMAC", "type": "main", "index": 0 } ]]
    },
    "Validar Assinatura HMAC": {
      "main": [[ { "node": "Extrair Dados", "type": "main", "index": 0 } ]]
    },
    "Extrair Dados": {
      "main": [[
        { "node": "Tem e-mail?",   "type": "main", "index": 0 },
        { "node": "Tem WhatsApp?", "type": "main", "index": 0 }
      ]]
    },
    "Tem e-mail?": {
      "main": [
        [ { "node": "Enviar E-mail (SMTP/SendGrid)", "type": "main", "index": 0 } ],
        []
      ]
    },
    "Tem WhatsApp?": {
      "main": [
        [ { "node": "Enviar WhatsApp (Evolution API)", "type": "main", "index": 0 } ],
        []
      ]
    }
  },
  "active": false,
  "settings": {},
  "tags": [
    { "name": "sige" },
    { "name": "propostas" }
  ],
  "_meta": {
    "description": "Workflow exemplo para o evento `proposta.enviada` do SIGE. Valida HMAC, divide por canal (e-mail/WhatsApp via Evolution API) e envia mensagem em português ao cliente.",
    "env_obrigatorias": [
      "N8N_WEBHOOK_SECRET",
      "SIGE_FROM_EMAIL",
      "EVOLUTION_API_URL",
      "EVOLUTION_INSTANCE",
      "EVOLUTION_API_KEY"
    ]
  }
}
